body {
  margin: 0;
  font-family: farmtohome, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 ;
}


  


@tailwind base;
@tailwind components;
@tailwind utilities;
